header {
  background-color: #243b75;
  color: #ffffff;
  font-family: "Open Sans";
  padding: 5px;
  border-bottom: 2px solid #8fdef1;
  padding-left: 50px;
}

.copy {
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Open Sans";
}

.deck {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  font-family: "Oswald";
}

.card {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 33%;
  vertical-align: top;
}

.dogpic {
  width: 100%;
}

h3 {
  margin: 5px 0px;
}

.traits {
  display: flex;
  flex-flow: wrap;
  font-size: 0.8em;
}

.traits span {
  background-color: #8fdef1;
  border-radius: 20px;
  padding: 2px 5px;
  margin: 2px;
}

footer {
  display: flex;
  height: 30vh;
  font-family: "Oswald";
  color: #ffffff;
  font-size: 32px;
}

.footerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#donate {
  background-image: linear-gradient(
      rgba(68, 0, 255, 0.404),
      rgba(68, 0, 255, 0.404)
    ),
    url("./dog_images/donate.362e18c4345d.jpg");
}

#donate a {
  color: white;
}

#volunteer {
  background-image: linear-gradient(
      rgba(68, 0, 255, 0.404),
      rgba(68, 0, 255, 0.404)
    ),
    url("./dog_images/volunteer.28f666f91cf7.jpg");
}

#volunteer a {
  color: white;
}

#location {
  background-image: linear-gradient(
      rgba(68, 0, 255, 0.404),
      rgba(68, 0, 255, 0.404)
    ),
    url("./dog_images/location.85cf0e803882.png");
}

#location a {
  color: white
}

background-image {
  width: 100%;
  height: auto;
}
