{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="https://placebear.com/200/300" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technologies used:</h5>
        {% for technology in project.technologies.all %}
        <a href="{% url 'projects_by_technology' technology=technology.name %}"><p>{{ technology.name }}</p></a>
        {% endfor %}
        <h5>Links:</h5>
        <a href="{{project.github}}" target="_blank">GitHub</a>
        {% if project.livesite is not None %}
        <a href="{% url project.livesite %}" target="_blank">live site</a>
        {% endif %}
    </div>
</div>
{% endblock %}