.gameDiv {
  font-family: "Comic Sans MS", cursive;
  color: white;
  background-color: #062dda;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameDiv header{display: flex;
    width: 100%;
    justify-content: center;
}

.copy{
    display: flex;
    width: 100%;
    justify-content: center;
}

p{ font-size: 20px;
    width: 500px;
}